@import url("sfprofont.css");

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  min-width: 1280px;
  background-color: rgb(241, 241, 241);
}

.logobox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 200px;
    width: 200px;
    background-image: url("../images/swiftlogo.png");
    background-repeat: no-repeat;
    background-size: 200px;
}

.aboutTitle h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
    text-align: center;
    margin-bottom: 10px;
}

.aboutContent
{
    width: 70%;
    margin: 0 auto;
}

.aboutContent p, .aboutContent li
{
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

#disclamer
{
    font-family: "SF Pro Text";
    font-size: 12px;
    text-transform: uppercase;
}

.back a
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 200px;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    background-color: rgb(177, 177, 177);
    padding: 10px 0 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.back a:hover
{
    color: white;
    background-color: rgb(68, 68, 68);
    transition: all 0.3s ease 0s;
}