@import url("sfprofont.css");
@import url("sfmonofont.css");

body{
    background-color: rgb(241, 241, 241);
}

.titleClass{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleClass h1, .exerciseContent h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

.titleClass p, .exerciseContent p, .exerciseButton button{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
}

.titleClass p{
    margin-left: 25px;
}

.notFound h1{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

.exerciseContent{
    background-color: rgb(211, 211, 211);
    margin: 50px 25px 50px 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.75);
}

.questionContent{
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.5);
}

.questionContent p{
    font-family: "SF Mono";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-line;
}

.fillInTheBlanks{
    font-family: "SF Mono";
    font-weight: 400;
    font-size: 18px;
}

.questionContent br {
    display: block;
    content: "";
    margin-top: 10px;
}

.exerciseButton{
    margin-top: 25px;
}

.exerciseButton button{
    width: 200px;
    height: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
}

button[name="submit"]{
    background-color: rgb(86, 160, 86);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button[name="submit"]:hover{
    background-color: rgb(66, 66, 66);
    color: rgb(86, 160, 86);
    transition: all 0.3s ease 0s;
}

button[name="check"]{
    background-color: rgb(93, 93, 207);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button[name="check"]:hover{
    background-color: rgb(66, 66, 66);
    color: rgb(93, 93, 207);
    transition: all 0.3s ease 0s;
}

/*Admin related*/

.addExercise, .edit, .delete{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.addExercise
{
    background-color: rgb(105, 255, 59);
    transition: all 0.3s ease 0s;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addExercise:hover
{
    background-color: rgb(59, 160, 28);
    transition: all 0.3s ease 0s;
    color:white;
}

.adminButtons
{
    display: flex;
}

.edit
{
    display: inline-block;
    background-color: green;
    height:100%;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}

.delete
{   
    display: inline-block;
    background-color: red;
    height:100%;
    text-align: center;
    width: 100px;
}