@import url("sfprofont.css");

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  min-width: 1280px;
  background-color: rgb(241, 241, 241);
}

h1, p, a
{
    font-family: "SF Pro Display";
}

h1
{
    text-align: center;
    font-weight: 600;
    font-size: 52px;
}

.onboardHeader{
    margin-top: 50px;
}

.onboardHeader p
{
    font-weight: 400;
    font-size: 20px;
    margin: 50px 200px 50px 200px;
}

.passArea
{
    margin: 0 200px 0 200px;
    padding: 25px;
    background-color: rgb(215, 175, 253);
    border-radius: 10px;
}

.passArea p, a
{
    font-weight: 400;
    font-size: 28px;
}

a
{
    color:blue;
    text-decoration: none;
}

.pass, .conPass{
    margin-bottom: 20px;
}

input
{
    border: none;
    border-radius: 10px;
    width: 100%;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}

.submitButton
{
    text-align: center;
}

button
{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    color: white;
    background-color: rgb(68, 68, 68);
}

p#errormessage
{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color:red;
}