@import url("sfprofont.css");

body
{
    background-color: rgb(241, 241, 241);
}

.titleClass
{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none;
}

.homeGrid
{
    margin: 50px 100px 50px 100px;
}

.titleClass h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 36px;
    display: inline;
}

.grid-container
{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
}

.outerGrid{
    background-position: center;
    background-size: 100%;
}

#box1
{
    background-image: url("../images/homepic1.jpg");
    
}

#box2
{
    background-image: url("../images/homepic2.jpg");
}

#box3
{
    background-image: url("../images/homepic3.jpg");
}

#box4
{
    background-image: url("../images/homepic4.jpg");
}

#box5
{
    background-image: url("../images/homepic5.jpg");
}

.grid-item
{
    background-color: rgb(255,255,255,0.5);
    height: 250px;
    font-size: 30px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease 0s;
}

.grid-item:hover
{
    background-color: rgba(0, 255, 255, 0.5);
    transition: all 0.3s ease 0s;
}

.bottomLeft
{
    color: black;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 28px;
    font-family: "SF Pro Display";
    font-weight: 600;
}

