@import url("sfprofont.css");
@import url("sfmonofont.css");

body{
    background-color: rgb(241, 241, 241);
}

.titleClass{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleClass h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
    display: inline;
}

.listClass{
    margin: 25px;
}

.topicButton {
    float: left;
    width: 50%;
    padding: 10px 5px 10px 5px;
    height: 100%;
}

.topicButtonList
{
    display: flex;
    justify-content: space-between; 
    font-family: "SF Pro Display";
    font-weight: 400;
    margin: 15px 0 15px 0;
}

.topicButtonList a
{
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#listname
{
    width: 100%;
    color: black; 
    background-color: rgb(179, 179, 179);
    transition: all 0.3s ease 0s;
}

#listname:hover{
    transition: all 0.3s ease 0s;
    background-color: black;
    color: white;
}

button
{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 22px;
}

#edit
{
    background-color: green;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    padding: 5px;
    height:100%;
    text-align: center;
    width: 75px;
    
}

#delete
{
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    height:100%;
    text-align: center;
    width: 75px;
}


.listClass:after {
    content: "";
    display: table;
    clear: both;
}

.titleClass #add{
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    border:none;
    border-radius: 50px;
    padding: 0 25px 0 25px;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
    background-color: rgb(189, 189, 189);
    cursor: pointer;
    color: black;
}

#add:hover
{
    cursor: pointer;
    background-color: rgb(215, 159, 255);
}