@import url("sfprofont.css");

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  min-width: 1280px;
  background-color: rgb(241, 241, 241);
}

.logintitle, .resettitle, .verifytitle
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.loginbox, .resetbox, .verifybox
{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(160, 202, 243);
}

h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

p
{
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 24px;
}

.loginbtn, .sendlinkbtn, .invaliddigit, .errormsg, .changesuccess, .sessionexpired
{
    text-align: center;
}

.errormsg p
{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
}

.loginbtn
{
    margin-bottom: 20px;
}

.sendlink
{
    width:400px;
}

.invaliddigit, .changesuccess, .sessionexpired
{
    margin-top: 20px;
    font-size: 20px;
}

button
{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width:200px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    transition: all 0.3s ease 0s;
    color: white;
    background-color: navy;
}

input
{
    border: none;
    border-radius: 10px;
    width: 100%;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
}

a
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 200px;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    background-color: rgb(177, 177, 177);
    padding: 10px 0 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover
{
    color: white;
    background-color: rgb(68, 68, 68);
    transition: all 0.3s ease 0s;
}

.reset
{
    background-color: rgb(151, 139, 255);
}

.reminder
{
    margin: auto;
    text-align: center;
}

.reminder p
{
    font-size: 20px;
}

span
{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
}