@import url("sfprofont.css");

body
{
    background-color: rgb(241, 241, 241);
}

.titleClass
{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleClass h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

.editorWrap{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.blockExternal{
    position: relative;
    height: 58px; 
    margin: 1% auto;
}

iframe {
    width: 100%;
    height: 700px;
    margin-top: -58px;
    border-radius: 10px;
}