@import url("sfprofont.css");

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
    min-width: 1280px;
    background-color: rgb(241, 241, 241);
}

h1, h2
{
    font-family: "SF Pro Display";
    font-weight: 600;
}

.profilewrapper p, .studentLink a
{
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
}

.profilewrapper
{
    margin: 50px 15% 50px 15%;
    padding: 25px 5% 25px 5%;
}

.profiletitle, .profilebanner, .profileperf, .profilehistory{
    margin-bottom: 50px;
}

.profiletitle
{
    text-align: center;
    background-color: rgb(196, 222, 252);
    border-radius: 10px;
    padding: 5px 0 5px 0;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.75);
}

.profiletitle h1
{
    font-size: 48px;
}

.profiletitle h2
{
    font-size: 32px;
}

.profilebanner, .profileperf, .profilehistory, .studentwrapper
{
    padding: 30px;
    background-color: rgb(162, 197, 236);
    border-radius: 10px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.75);
}

.profilepic, .profilenameid, .profileRight
{
    display: inline-block;
    vertical-align: top;
}

.profilepic
{
    width: 150px;
    height:150px;
    background-position: center;
    background-size: 100%;
    background-image: url("../images/picnull.png");
}

.profilenameid, .profileAdminid, .searchBar, .studentLink
{
    margin-left: 50px;
}

.profilenameid
{
    width: 60%;
}

.searchBar
{
    margin-top: 25px;
}

.searchBar input, .searchBar button
{
    font-family: "SF Pro Text";
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.searchBar input
{
    margin-right: 5px;
}

.searchBar button
{
    width: 100px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

img
{
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.studentLink
{
    margin-top: 10px;
}

.studentLink a
{
    background-color: rgb(181, 102, 255);
    padding: 0 5px 0 5px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.studentLink a:hover
{
    transition: all 0.3s ease 0s;
    color: white;
    background-color: blueviolet;
}

.profilehistory h1, .profileperf h1, .latestResult h2, td, .noHistory
{
    text-align: center;
}

.latestResult h2
{
    margin-bottom: 10px;
}

.historybox, .studentwrappercontent
{
    overflow-y: scroll;
    height: 500px;
}

.historybox::-webkit-scrollbar, .studentwrappercontent::-webkit-scrollbar { 
    width: 10px;
}

.historybox::-webkit-scrollbar-track, .studentwrappercontent::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 5px gray; 
    border-radius: 10px;
}

.historybox::-webkit-scrollbar-thumb, .studentwrappercontent::-webkit-scrollbar-thumb { 
    background: rgb(56, 131, 218); 
    border-radius: 10px;
}

.historybox::-webkit-scrollbar-thumb:hover, .studentwrappercontent::-webkit-scrollbar-thumb:hover { 
    background: rgb(47, 81, 121); 
    border-radius: 10px;
}

.historylist, .perfbox
{
    background-color: white;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
}

.historydet, .historyperc
{
    display: inline-block;
}

.historyperc{
    float: right;
    font-size: 32px;
    text-align: center;
}

table, tr
{
    border: none;
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
}

tr
{
    
    height: 30px;
}

table
{
    border-spacing: 0 10px;
    width: 100%;
    
}

#legend
{
    border-radius: 10px;
    background-color: rgb(159, 240, 159);
}

.historyTitle
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.studentDeleteBtn
{
    text-align: center;
    margin: 10px;
}

.studentDeleteBtn #delete
{
    font-family: "SF Pro Display";
    font-size: 20px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.studentDeleteBtn #delete:hover
{
    background-color: red;
    transition: all 0.3s ease 0s;
}

.studtabletitle, .studtablecontent
{
    background-color: white;
}

#studID, #temppass, #studName, #studEmail
{
    padding:5px;
}

#studID, #temppass
{
    width:10%;
}

#studName, #studEmail
{
    width:40%;
}

