@import url("sfprofont.css");
@import url("sfmonofont.css");

body{
    background-color: rgb(241, 241, 241);
}

.titleClass{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleClass h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

.titleClass p
{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    margin-left: 25px;
}

.notFound h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

#legend
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.quizOptions
{
    list-style-type: none;
}

.quizOptionsList, .adminButtons button{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
}

.quizOptionsList
{
    background: #abadb9;
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 10px;
}

#correct
{
    background-color: lime;
}

/*Admin related*/

.addQuiz, .edit, .delete{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.addQuiz
{
    background-color: rgb(105, 255, 59);
    transition: all 0.3s ease 0s;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addQuiz:hover
{
    background-color: rgb(59, 160, 28);
    transition: all 0.3s ease 0s;
    color:white;
}

.adminButtons
{
    display: flex;
}

.adminButtons button
{
    margin-left: 20px;
}

.edit
{
    display: inline-block;
    background-color: green;
    height:100%;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}

.delete
{   
    display: inline-block;
    background-color: red;
    height:100%;
    text-align: center;
    width: 100px;
}

/*From react-tabs*/

.react-tabs 
{
    margin: 50px 25px 50px 25px;
    padding: 30px;
    background-color: rgb(211, 211, 211);
    border-radius:10px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.75);
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
background: #fff;
border-color: #aaa;
color: black;
border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
color: GrayText;
cursor: default;
}

.react-tabs__tab:focus {
box-shadow: 0 0 5px hsl(208, 99%, 50%);
border-color: hsl(208, 99%, 50%);
outline: none;
}

.react-tabs__tab:focus:after {
content: "";
position: absolute;
height: 5px;
left: -4px;
right: -4px;
bottom: -5px;
background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

#codesegment
{
    margin: 10px 0 10px 0;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: "SF Mono";
    font-weight: 400;
    font-size: 20px;
    white-space: pre-wrap;
}
    
.react-tabs__tab-panel--selected {
    display: block;
}

/**/