@import url("sfprofont.css");
@import url("sfmonofont.css");

body{
    background-color: rgb(241, 241, 241);
}

.titleClass{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleClass h1,.quizContent h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

.titleClass p{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    margin-left: 25px;
}

.notFound h1{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

.quizContent, .finalResult
{
    margin: 50px 25px 50px 25px;
    padding: 50px 30px;
    background-color: rgb(211, 211, 211);
    border-radius:10px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.75);
}

.quizContent h2, .finalResult h2
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 15px;
}

.quizContent p, .quizOptionsList, .quizButton a, .finalResult p, .react-tabs__tab-panel{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
}

.quizContent p{
    margin-bottom: 20px;
}

.quizOptions
{
    list-style-type: none;
}
.quizOptionsList
{
    background: #abadb9;
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 10px;
}

.quizButton, .startButton
{
    width: 100px;
    height: 30px;
    text-align: center;
    float:left;
    background-color: #fff;
    margin-right: 25px;
    border-radius: 10px;
}


.quizButton button, .startButton button, .retry button
{
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    width:100px;
    height: 30px;
    color: #555;
    background-color: transparent;
    border: none;
    line-height: 25px;
    cursor: pointer;
}

#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
    margin-right: 10px;
}

p#codesegment
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: "SF Mono";
    font-weight: 400;
    font-size: 20px;
    white-space: pre-wrap;
}

#codeSegment br
{
    display: block;
    content: "";
    margin-top: 10px;
}

.finalResult h2
{
    text-align: center;
}

.finalResult p
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.retry
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
}

#correct
{
    background-color: lime;
}

#wrong
{
    background-color: red;
}

.react-tabs 
{
    margin: 50px 25px 50px 25px;
    padding: 30px;
    background-color: rgb(211, 211, 211);
    border-radius:10px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.75);
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
background: #fff;
border-color: #aaa;
color: black;
border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
color: GrayText;
cursor: default;
}

.react-tabs__tab:focus {
box-shadow: 0 0 5px hsl(208, 99%, 50%);
border-color: hsl(208, 99%, 50%);
outline: none;
}

.react-tabs__tab:focus:after {
content: "";
position: absolute;
height: 5px;
left: -4px;
right: -4px;
bottom: -5px;
background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}