@import url("sfprofont.css");

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
    min-width: 1280px;
    background-color: rgb(241, 241, 241);
}

.titleClass
{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleClass h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

.regForm
{
    font-family: "SF Pro Display";
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

.inputBox
{
    margin-bottom: 20px;
}

#notice
{
    font-size: 20px;
}

.inputBox p
{
    font-weight: 600;
    font-size: 28px;
}

input
{
    width: 100%;
    font-family: "SF Pro Text";
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
}

.submitButton
{
    margin: 25px;
    text-align: center;
}

button
{
    background-color: rgb(61, 202, 124);
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width:200px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    transition: all 0.3s ease 0s;
    color: white;
    background-color: navy;
}

#errormessage
{
    font-size: 20px;
    color:red;
}

.process
{
    text-align: center;
    margin-bottom: 20px;
}