@import url("sfprofont.css");

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  min-width: 1280px;
  background-color: rgb(241, 241, 241);
}

.welcometitle, .goodbyetitle
{
    text-align: center;
}

.logobox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 200px;
    width: 200px;
    background-image: url("../images/swiftlogo.png");
    background-repeat: no-repeat;
    background-size: 200px;
}

.loginlinks
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.student, .admin, .islogin
{
    display: inline-block;
    margin: 0 100px 0 100px;
}

h1
{
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 52px;
}

p, a
{
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 18px;
}

a
{
    display: block;
    width: 250px;
    text-transform: uppercase;
    color: black;
    background-color: rgb(177, 177, 177);
    padding: 10px 0 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover
{
    color: white;
    background-color: rgb(68, 68, 68);
    transition: all 0.3s ease 0s;
}

.about a
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.goodbyetext
{
    margin-top: 50px;
    width: 50%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}